<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EmployeeMapper">
    <resultMap id="employeeResultMap" type="com.example.demo.entity.Employee">
        <id property="id" column="id"/>
        <result property="empName" column="emp_name"/>
        <result property="empNumber" column="emp_number"/>
        <result property="leaderNumber" column="leader_number"/>
        <result property="lvl" column="lvl"/>
        <collection property="employeeList" resultMap="employeeResultMap" columnPrefix="e_"/>
    </resultMap>
</mapper>